<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBaqrMq0Ab56uwDbKjv8pol_Xmmzi-gWDM</string>
	<key>GCM_SENDER_ID</key>
	<string>878796084156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ats</string>
	<key>PROJECT_ID</key>
	<string>ats-database-cd6c8</string>
	<key>STORAGE_BUCKET</key>
	<string>ats-database-cd6c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878796084156:ios:234c414ba4716dabf111b9</string>
</dict>
</plist>